{{#if admin.logIn}}
  <form>
    <div class="form-group">
      <label for="name">Product Name</label>
      {{input value=name type="text" placeholder=product.name}}
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      {{textarea value=description type="text" placeholder=product.description}}
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      {{input value=price type="number" placeholder=product.price}}
    </div>
    <div class="form-group">
      <label for="brand">Brand</label>
      {{input value=brand type="text" placeholder=product.brand}}
    </div>
    <div class="form-group">
      <label for="imageUrl">Image URL</label>
      {{input value=imageUrl type="text" placeholder=product.imageUrl}}
    </div>
    <div class="form-group">
      <label for="inventory">Inventory Amount</label>
      {{input value=inventory type="number" placeholder=product.inventory}}
    </div>
    <button {{action 'update' product}}>Update Product</button>
  </form>
{{/if}}
